<div class="row mt-3">
  <div class="col">
    <div class="fs-1 fw-bold text-primary">Order Placed</div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p> Your order details are below</p>
    <table class="table table-striped" *ngIf="result$ | async as result">
      <tbody>
        <tr>
          <td>Date:</td>
          <td> <code>{{result.timestamp}}</code> </td>
        </tr>
        <tr>
          <td>Order Id:</td>
          <td> <code>{{result.orderId}}</code> </td>
        </tr>
        <tr>
          <td>Payment Id:</td>
          <td> <code>{{result.paymentId}}</code> </td>
        </tr>
        <tr>
          <td>Total:</td>
          <td> $<code>{{result.total}}</code> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>